.filter-container {
    display: flex;
    align-items: center;
    margin-left: 68px;
}

.filter-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

.filter-icon-container {
    margin-right: 34px;

}

.filter-header-container {
    margin-right: 34px;
    min-width: 85px;
}

