* {
    font-size: Roboto;
}

.ticket {
    display: flex;
    width: 959px;
    height: 354px;
    border: 1px solid #C4C4C4;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.info-train-departure, .info-train-arrival {
    width: 197px;
    height: 175px;
    background: #E4E0E9;
    display: flex;
    flex-direction: column;
}

.train-icon {
    width: 70px;
    margin-top: 38px;
    margin-left: 53px;
}

.train-number {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    margin-top: 17px;
    color: #3E3C41;
}

.departure, .arrival {
    display: flex;
    margin-top: 30px;
}
.info-directions-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}

.info-direction-arrival,
.info-direction-departure {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;

}

.info-time-from,
.info-time-to {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    color: #000000;
}

.info-city-from,
.info-city-to {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}

.info-station-from,
.info-station-to {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #928F94;
}

.vertical-line-ticket {
    width: 1px;
    height: 355px;
    border-left: 1px dashed #E5E5E5;
    border-radius: 0.5px;
    margin: 0 20px;
}
.info-seats-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.item-info-seats {
    display: flex;
    gap: 15px;
    margin-top: 37px;
    margin-left: 30px;
}

.ticket-price {
    display: flex;
    gap: 5px;
    align-items: center;
}
.btn-choose-seats {
    position: relative;
    top: 100px;
    right: -75px;
    width: 228px;
    height: 39px;
    background-color: #FFA800;
} 

.tooltip-count-seats {
    width: 276px;
    height: 101px;
    padding: 10px;
    color: white; 
    background-color: #cac8c8;

    top: 5;
    left: 50;
    transform: translateY(100%);
    border-radius: 5px 0px 0px 0px;
    opacity: 1;
    border-radius: 5px 0px 0px 0px;
    background-color: #cac8c8;

    font-size: 14px; 
    opacity: 1; 
}

.tooltip-count-seats .p-tooltip-arrow {
    display: none;
}

.tooltip-count-seats {
    position: absolute;
    top: 1020px;
    left: 1384px;
    gap: 0px;
}
.p-tooltip {
    background-color: #cac8c8;

} 
