* {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.content-order {
  display: flex;
}

.header-container-order {
  height: 596px;
  overflow: hidden;
  position: relative;
}

.baner-order {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-container {
  display: flex;
  justify-content: space-between;
}

.step {
  all: unset;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #3E3C41;
  font-size: 24px;
  line-height: 98px;
  height: 98px;
  text-align: center;
  flex: 1;
  position: relative;
}

.step.active {
  background-color: #FFA800;
}

.step:after {
  border-bottom: 49px solid transparent;
  border-left: 30px solid #3E3C41;
  border-top: 49px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  right: -30px;
  top: 0;
  width: 0;
  z-index: 10;
}

.step:before {
  border-bottom: 49px solid transparent;
  border-left: 30px solid #f1ebeb;
  border-top: 49px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  right: -31px;
  top: 0;
  width: 0;
  z-index: 2;
}

.step:nth-child(4):after {
  content: none;
}

.step.active:after {
  border-left-color: #FFA800;
}

.step.active:before {
  border-left-color: #FFE3A1;
}

.step-img {
   font-size: 50px;
}

.step-name {
  font-size: 40px;
  margin-left: 20px;
}

.order-page .search-form {
  height: 350px;
  width: 1490px;
  background: #292929CC;
  padding-left: 21px;
  padding-right: 24px;
  top: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} 

.order-page .inputs-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  align-items: center;
}

.order-page .direct-form-container {
  margin-top: 0;
  margin-right: 35px;
}

.order-page .date-form-container {
  margin-top: 0;
}

.order-page .btn-main {
  right:60px;
}

.content-order-container {
  display: flex;
  padding: 95px 256px 0 256px;
}

.section-search {
  display: flex;
  flex-direction: column;
}

.content-order {
  margin-left: 83px;
}

.select-seats-common-container .btn-main {
  position: relative;
  color: #F7F6F6;
  display: flex;
  top: -12px;
  left: 639px;
}

.select-seats-common-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}